@model IEnumerable<Test.Models.OrderItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/AddSalesOrder.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SO_ORDER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SO_ORDER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SO_ITEM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SO_ITEM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SO_ITEM_ID })
        </td>
    </tr>
}

</table>
